<p>
<form method="get" action="<%= quiz.id %>/check">
    Pregunta:<%= quiz.question %> <p>
    <input type="text" name="answer" value="<%= answer %>" placeholder="Responda aquí"/>
    <input type="submit" value="Comprobar">
</form>
</p>
<p><strong>Comentarios</strong></p>
<ul>
<% for (var i in quiz.Comment){ %>
   <li><%= quiz.Comment[i].text %> </li>
<% } %>
</ul>
